.front-full {
  position: relative;
  height: 200vh;
  width: 100%;
}

.front-full img {
  width: 100vw;
  height: 100vh;
  position: sticky;
  object-fit: scale-down;
  top: 0;
}

.front-full video{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: sticky;
  top: 0;
}

.front-full-inner {
  position: relative;
  margin: 0 auto;
}

/* testimonial */
.kz-cardwheel-item:nth-child(1) {
  transform: rotate(-2deg) translateY(30px);
}

.kz-cardwheel-item:nth-child(2) {
  transform: rotate(0deg) translateY(40px);
}

.kz-cardwheel-item:nth-child(3) {
  transform: rotate(0deg) translateY(50px);
}

.kz-cardwheel-item:nth-child(4) {
  transform: rotate(2deg) translateY(60px);
}

.kz-cardwheel-item:nth-child(5) {
  transform: rotate(2deg) translateY(90px);
}

.kz-cardwheel-item:nth-child(6) {
  transform: rotate(4deg) translateY(120px);
}

.kz-cardwheel-item:nth-child(7) {
  transform: rotate(6deg) translateY(150px);
}
.kz-cardwheel-item:nth-child(8) {
  transform: rotate(8deg) translateY(180px);
}

