/* fonts */

/* globals */

input,
button,
select {
  outline: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* tailwind */
@import "tailwindcss";

/* styles */
.typing-effect {
  border-right: 2px solid white; /* Simulate blinking cursor */
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
