/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* globals */

input,
button,
select {
  outline: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for WebKit (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox and Edge */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

/* tailwind */
@import "tailwindcss";

/* styles */
.typing-effect {
  border-right: 2px solid white; /* Simulate blinking cursor */
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


/* app/globals.css */
@media (max-width: 640px) {
  .timeline-card {
    flex-direction: column !important;
  }
  .timeline-card .bg-blue-500 {
    left: 0.5rem !important;
    top: -1rem !important;
    transform: none !important;
  }
  .timeline-card > div {
    margin-left: 2.5rem !important; /* Adjust card margin on mobile */
  }
}
* {
  @apply capitalize;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 2s linear infinite;
}
